/* 定义自定义字体 */
@font-face {
    font-family: 'CustomTitleFont';
    src: url('Fonts/02.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    background-color: #D4F2F8;
    background-image: url('img/backgroud.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin: 0;
    padding: 0;
}

nav {
    border: 4px solid #00d5ff;
    padding: 10px;
    border-radius: 5px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-weight: 550;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    font-size:30px;
    transition: transform 0.2s ease;
    display: inline-block; /* 确保transform属性正常工作 */
}

/* 鼠标移过时放大10% */
.nav-links li a:hover {
    transform: scale(1.1);
}

/* 为导航栏每个选项设置不同颜色 */
.nav-links li:nth-child(1) a {
    color: #ff0000; /* 红 */
}

.nav-links li:nth-child(2) a {
    color: #ff6f00; /* 橙 */
}

.nav-links li:nth-child(3) a {
    color: #ffbf00; /* 黄 */
}

.nav-links li:nth-child(4) a {
    color: #00ff00; /* 绿 */
}

.nav-links li:nth-child(5) a {
    color: #000fff; /* 蓝 */
}

.nav-logo img {
    height: 50px;
    width: auto;
    -webkit-user-drag: none; /* 禁止拖拽 */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.message {
  text-align: center;
}

.left-title {
  font-size: 50px; /* 对应font size="7" */
  text-align: left;
}

.title {
  font-family: 'CustomTitleFont', sans-serif;
  font-size: 50px; /* 对应font size="7" */
  font-weight: 550;
  color: #000888;
}
.notice {
  font-size: 24px; /* 对应font size="6" */
  color: #ff0000;
}
.download-message {
  font-size: 30px; /* 对应font size="6" */
  text-align: left;
  color: #000fff;
  padding-left: 20px;
}

/* 设置按钮固定在右下角 */
.settings-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* 确保在最上层 */
}

.settings-btn img {
  width: 50px; /* 根据需要调整大小 */
  height: auto;
  cursor: pointer;
  -webkit-user-drag: none;
  transition: transform 0.5s ease;
}

/* 鼠标移过时旋转一圈 */
.settings-btn img:hover {
  transform: rotate(100deg);
}
.far-left-size {
 padding-left: 35px;
 font-size: 27px;
}
/* 去掉所有超链接的下划线 */
a {
    text-decoration: none;
}

/* 可选：添加鼠标悬停效果 */
a:hover {
    text-decoration: underline; /* 鼠标悬停时显示下划线 */
    /* 或者使用其他效果，如下方示例 */
    /* color: #ff0000; 鼠标悬停时改变颜色 */
}
/* 定义自定义字体 */
@font-face {
    font-family: 'MyCustomFont';
    src: url('Fonts/01.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 设置全局字体 */
body {
    font-family: 'MyCustomFont', sans-serif;
    background-color: #D4F2F8;
    margin: 0;
    padding: 0;
}
.settings-content {
    font-size: 45px; /* 对应font size="6" */
    text-align: left;
    color: #000888;
    padding-left: 20px;
    font-family: 'CustomTitleFont', sans-serif;
    line-height: 15px;
}
